doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/main.css")
        title RyanSkyDrive
    body
        h1 歡迎使用Ryan天空硬盤
        //- form(action="upload", method="post" enctype="multipart/form-data")
        //-     input(id="file", type="file", name="fileToUpload" onchange="saveFile(this)") 
        //-     input(id="upload-btn" type="submit", value="Upload" disabled)
        //- div#select-files upload
        div.filename
        div.upload-container
            div.add-file-container
                div.add-file
                    div.plus-file(onclick="triggerUpload()")
                        <svg viewBox="0 0 72 72"><path d="M36.493 72C16.118 72 0 55.883 0 36.493 0 16.118 16.118 0 36.493 0 55.882 0 72 16.118 72 36.493 72 55.882 55.883 72 36.493 72zM34 34h-9c-.553 0-1 .452-1 1.01v1.98A1 1 0 0 0 25 38h9v9c0 .553.452 1 1.01 1h1.98A1 1 0 0 0 38 47v-9h9c.553 0 1-.452 1-1.01v-1.98A1 1 0 0 0 47 34h-9v-9c0-.553-.452-1-1.01-1h-1.98A1 1 0 0 0 34 25v9z" fill="#409fff" fill-rule="nonzero"></path></svg>
                        div 添加文件
                        input#file-input(type='file' multiple onchange="saveFile(this)")
                button#upload-button.disabled 獲得鏈接
            div.progress-container.hide
                #myProgress
                    #myBar
                #percent 0%
        div#success
        div#instruction 點擊 <svg style="width:19px" viewBox="0 0 72 72"><path d="M36.493 72C16.118 72 0 55.883 0 36.493 0 16.118 16.118 0 36.493 0 55.882 0 72 16.118 72 36.493 72 55.882 55.883 72 36.493 72zM34 34h-9c-.553 0-1 .452-1 1.01v1.98A1 1 0 0 0 25 38h9v9c0 .553.452 1 1.01 1h1.98A1 1 0 0 0 38 47v-9h9c.553 0 1-.452 1-1.01v-1.98A1 1 0 0 0 47 34h-9v-9c0-.553-.452-1-1.01-1h-1.98A1 1 0 0 0 34 25v9z" fill="#409fff" fill-rule="nonzero"></path></svg> 按鈕，再點擊
            span(style="color:#8a1212") 獲得鏈接
            |, 您將得到一個下載鏈接，將此鏈接分享給對方，對方就能下載您傳送的文件了。
        script(src="js/zh/home.js")


