doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/main.css")
        title RyanSkyDrive
    body
        h1 Welcome to RyanSky Drive 
        //- form(action="upload", method="post" enctype="multipart/form-data")
        //-     input(id="file", type="file", name="fileToUpload" onchange="saveFile(this)") 
        //-     input(id="upload-btn" type="submit", value="Upload" disabled)
        //- div#select-files upload
        div.filename
        div.upload-container
            div.add-file-container
                div.add-file
                    div.plus-file(onclick="triggerUpload()")
                        <svg viewBox="0 0 72 72"><path d="M36.493 72C16.118 72 0 55.883 0 36.493 0 16.118 16.118 0 36.493 0 55.882 0 72 16.118 72 36.493 72 55.882 55.883 72 36.493 72zM34 34h-9c-.553 0-1 .452-1 1.01v1.98A1 1 0 0 0 25 38h9v9c0 .553.452 1 1.01 1h1.98A1 1 0 0 0 38 47v-9h9c.553 0 1-.452 1-1.01v-1.98A1 1 0 0 0 47 34h-9v-9c0-.553-.452-1-1.01-1h-1.98A1 1 0 0 0 34 25v9z" fill="#409fff" fill-rule="nonzero"></path></svg>
                        div Add a file
                        small (Less than 10M)
                        input#file-input(type='file' multiple onchange="saveFile(this)")
                button#upload-button.disabled Get a link
            div.progress-container.hide
                #myProgress
                    #myBar
                #percent 0%
        div#success
        div#instruction Click the <svg style="width:19px" viewBox="0 0 72 72"><path d="M36.493 72C16.118 72 0 55.883 0 36.493 0 16.118 16.118 0 36.493 0 55.882 0 72 16.118 72 36.493 72 55.882 55.883 72 36.493 72zM34 34h-9c-.553 0-1 .452-1 1.01v1.98A1 1 0 0 0 25 38h9v9c0 .553.452 1 1.01 1h1.98A1 1 0 0 0 38 47v-9h9c.553 0 1-.452 1-1.01v-1.98A1 1 0 0 0 47 34h-9v-9c0-.553-.452-1-1.01-1h-1.98A1 1 0 0 0 34 25v9z" fill="#409fff" fill-rule="nonzero"></path></svg> button, and select a file, then click 
            span(style="color:#8a1212") Get a link
            |, you will have a link to send to others for them to download the file.
        script(src="js/home.js")


