doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/main.css")
        title RyanSkyDrive
    body
        h1 Welcome to RyanSky Drive 
        //- form(action="upload", method="post" enctype="multipart/form-data")
        //-     input(id="file", type="file", name="fileToUpload" onchange="saveFile(this)") 
        //-     input(id="upload-btn" type="submit", value="Upload" disabled)
        //- div#select-files upload
        div.upload-container
            input#file-input(type='file' multiple)
            button#upload-button Upload
        script(src="js/home.js")


