
link(rel="stylesheet", href="css/success.css")
h3 You can share this link with others to download the file

.input-group
    input.form-control.shared-link(type='text' value=`${protocol}://${download_url}` readOnly)
    span#copy.input-group-text COPY
div#msg
div.btn-container
    div#btn-continue-share 
        a(href=`${back_url}`) Continue to share

script(src="js/success.js")
        