h1 {
    font-size: 30px;
    text-align: center;
}
form{
    text-align: center;
}
.upload-container{
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}
#myProgress {
  width: calc(100% - 30px);
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}
#percent{
    margin-top: 6px;
    margin-left: 5px;
    width: 30px;
}
.progress-container{
    display: flex;
    margin-top: 30px;
}