html{
    padding: 0;
    margin: 0;
    background-color: blanchedalmond;
}
h1 {
    font-size: 39px;
    text-align: center;
}
h3.share-file{
    text-align: center;
    color: #847676;
    font-size: 21px;
}
form{
    text-align: center;
}
.upload-container{
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}
#myProgress {
  width: calc(100% - 30px);
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}
#percent{
    margin-top: 6px;
    margin-left: 5px;
    width: 30px;
}
.progress-container{
    display: flex;
    margin-top: 30px;
}
.progress-container.hide{
    display: none;
}
.add-file svg{
    width: 50px;
}
.add-file svg:hover{
   fill:red;
}
#file-input{
    height: 1px;
    width: 1px;
    opacity: 0;
}
.plus-file{
    display: inline-block;
    cursor: pointer;
}
.add-file-container{
    display: flex;
    justify-content: space-evenly;
}
#upload-button{
    background-color: #409fff;
    height: 50px;
    width: 200px;
    border-radius: 15px;
    color: #ffffff;
    border-style: none;
    font-size: 24px;
    cursor: pointer;
}
#upload-button.disabled{
    background-color: rgb(125 109 109);
    cursor: default;
}
.filename{
    text-align: center;
    height: 50px;
}
#success{
    margin-top: 50px;
    text-align: center;
}
#instruction{
    max-width: 600px;
    margin: 0 auto;
    color: #c17417;
}